button {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.3s all ease-out;

  &:hover {
    border: 1px solid #24292e;
    color: #24292e;
    background: white;
  }
}
